body {
  padding-top: 50px;
  /* font-family: "Roboto", Helvetica, Arial, sans-serif; */
}
.starter-template {
  padding: 20px 15px;
  text-align: left;
}

.required {
  color: red;
  font-weight: bold;
}

.github {
  display: inline-block;
width: 38px;
height: 38px;
background-image: url(../img/pinned-octocat.svg);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
overflow: hidden;
color: transparent;
}
